# Directory shortcuts
alias code="cd ~/google_drive/code"
alias projects="cd ~/google_drive/code/projects"
alias testcode="cd ~/google_drive/code/testCode"
alias virtEnvs="cd ~/.virtualenvs"
alias dl="cd ~/Downloads"
alias gdocs="cd ~/google_drive"
alias docs="cd ~/Documents"
alias dropb="cd ~/Dropbox"
alias apps="cd ~/Applications"

# Navigation
alias ..="cd .."
alias ...="cd ../.."
alias home="cd ~/"

# Command shortcuts
alias pg_start='pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start'
alias pg_stop='pg_ctl -D /usr/local/var/postgres stop'
alias ls="ls -alh"
alias eb="python $EB_HOME/eb"
alias mongodbstart="mongod run --config /usr/local/etc/mongod.conf"
alias npmls="npm list --depth=0 '$@' 2>/dev/null"
alias server='python -m SimpleHTTPServer 8888'

# OSX specific utils
alias showfiles='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder app'
alias hidefiles="defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder app"
# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"
