# Set architecture flags
export ARCHFLAGS="-arch x86_64"

export HEROKU_HOME="/usr/local/heroku/bin"

export WORKON_HOME=$HOME/.virtualenvs
export PROJECT_HOME=$HOME/code/projects

export LANG="en_US.UTF-8"
export LC_COLLATE="en_US.UTF-8"
export LC_CTYPE="en_US.UTF-8"
export LC_MESSAGES="en_US.UTF-8"
export LC_MONETARY="en_US.UTF-8"
export LC_NUMERIC="en_US.UTF-8"
export LC_TIME="en_US.UTF-8"
export LC_ALL=

POSTGRE=/Applications/Postgres.app/Contents/Versions/9.4/bin

USR_PATH="/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"

ADD_PATH="$POSTGRE"

export PATH=$USR_PATH:$ADD_PATH
