function gp_origin() {
    git push origin $1
}

function gp_upstream() {
    git push upstream $1
}

function gp_heroku() {
    git push heroku $1
}

function npm_install_global() {

    if [ "$#" -gt 0]; then
        packages=''

        for var in "$@"
        do
            packages="$packages $var"
        done

        npm install -g $packages
    else
        npm install -g
    fi
}

function npm_install() {

    if [ "$#" -gt 0]; then
        packages=''

        for var in "$@"
        do
            packages="$packages $var"
        done

        npm install $packages
    else
        npm install
    fi
}

function go_to_project() {
    cd ~/google_drive/code/projects/$1
}

function start_redis() {
    redis-server /usr/local/etc/redis.conf
}

