[user]
  name = Froilán Irizarry Rivera
  email = 1918027+froi@users.noreply.github.com
  signingkey = not-a-key

[core]
  excludesfile = ~/.gitignore_global
  editor = code -w
  quotepath = false

[color]
  interactive = true
  status = true
  branch = true
  diff = true
  ui = true

[diff]
  tool = vscode
[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = vscode
[mergetool "vscode"]
  cmd = code --wait $MERGED

[format]
  pretty=format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset

[url "git@github.com:"]
  insteadOf = https://github.com/
[push]
  default = simple
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  required = true
  process = git-lfs filter-process
[commit]
  template = ~/.gitmessage
  gpgsign = true
[pull]
  rebase = false
[gpg]
  program = gpg
[init]
  defaultBranch = main
